.theme1{
background-color: grey;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: navy;

}
.theme2{
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    
    }